body {
  background-image: url("img/Background.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: whitesmoke;
  padding: 200px;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
}

div.links {
  padding: 50px;
}

nav.menu-lateral {
  width: 11vh;
  height: 100vh;
  background-color: grey;
  padding: 5% 0 5% 1%;
  box-shadow: 3px 0 0 purple;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
  transition: .2s;
}

.btn-expandir {
  width: 100%;
  padding-left: 10px;
}

.btn-expandir > i {
  color: whitesmoke;
  font-size: 1.5em;
  cursor: pointer;
}

nav.menu-lateral:hover {
  width: 30vh;
}

ul {
  padding: 5px;
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .2s;
}

ul li.item-menu:hover {
  background-color: purple;
}

ul li.item-menu a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.5em;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 1em;
}

ul li.item-menu a .icon > i {
  font-size: 1.5em;
}

.about-container {
  color: whitesmoke;
  padding-left: 150px;
  padding-top: 150px;
  display: flex;
}

.about-highlight > img {
  position: absolute;
  left: 900px;
}

.about-highlight > h1 {
  font-size: 8em;
}

.about-highlight > h2 {
  margin-left: 150px;
  font-size: 4em;
}

.about-info {
  position: absolute;
  margin-top: 60px;
  text-align: right;
  font-size: 1.1em;
}
