body {
  background-image: url("img/Background.jpg");
  height: 100%;
  display: flex;
  flex-direction: column;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  text-align: end;
}

.container {
  color: whitesmoke;
  padding: 200px;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
}

div.links {
  padding: 50px;
}

nav.menu-lateral {
  width: 60px;
  height: 100vh;
  background-color: grey;
  padding: 40px 0 40px 1%;
  box-shadow: 3px 0 0 purple;

  position: fixed;
  top: 0;
  left: 0;

  overflow: hidden;
  transition: .2s;
}

nav.menu-lateral:hover {
  width: 180px;
  height: 100vh;
  padding: 40px 0 40px 1%;
}

ul {
  padding: 5px;
  height: 100%;
  list-style-type: none;
}

ul li.item-menu{
  transition: .2s;
}

ul li.item-menu:hover {
  background-color: purple;
}

ul li.item-menu a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
}

ul li.item-menu a .txt-link {
  margin-left: 40px;
}

ul li.item-menu a .icon > i {
  font-size: 30px;
}
